@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-surface: #fff;
  --color-surface-elevated: #f8f8fa;
  --color-surface-subtle: #f2f2f2;
  --color-surface-accent: #e5e5e6;
  --color-surface-inverse: #000;

  --color-text-primary: #0f1620;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
  --color-text-inverse: #fff;
  --color-text-danger: #e02525;

  --color-border-subtle: #e6e9f0;
  --color-border-strong: #b3b5b9;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-surface text-primary  antialiased font-sans;
}
