@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-default: #ffffff;
  --color-bg-elevated: #f8f8fa;
  --color-bg-muted: #f2f2f2;
  --color-bg-contrast: #000000;
  --color-bg-user-bubble: #e5e5e6;

  --color-text-default: #0f1620;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
  --color-text-contrast: #ffffff;

  --color-border-default: #e6e9f0;
  --color-border-secondary: #b3b5b9;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-bg-default text-text-default  antialiased font-sans;
}
